## Import Pandas library

In [1]:
import pandas as pd

## Import csv files

In [2]:
df = pd.read_csv("F://Files/Python work/case study/survey_results_public.csv", index_col='ResponseId')
schema_df = pd.read_csv("F://Files/Python work/case study/survey_results_schema.csv", index_col='qname')

## Change display settings for columns and rows

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

## Check dataframe's first five rows

In [4]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

## Check 'ConvertedCompYearly'

In [5]:
df['ConvertedCompYearly'].head(15)

ResponseId
1     62268.0
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    51552.0
11        NaN
12    46482.0
13    77290.0
14        NaN
15        NaN
Name: ConvertedCompYearly, dtype: float64

## Check median

In [6]:
df['ConvertedCompYearly'].median()

56211.0

In [7]:
df.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

# Check dataframe's descriptive statistics/ data distribution

In [8]:
df.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

## Count is number of cells under the 'ConvertedCompYearly' column

In [9]:
df['ConvertedCompYearly'].count()

46844

In [10]:
df['SOAccount']

ResponseId
1        Yes
2        Yes
3        Yes
4        Yes
5        Yes
        ...
83435     No
83436    Yes
83437    Yes
83438    Yes
83439    Yes
Name: SOAccount, Length: 83439, dtype: object

## Number of yes or no from 'SOAccount'

In [11]:
df['SOAccount'].value_counts()

Yes                        67813
No                         10510
Not sure/can't remember     4202
Name: SOAccount, dtype: int64

In [12]:
df['OpSys']

ResponseId
1              MacOS
2            Windows
3              MacOS
4            Windows
5        Linux-based
            ...
83435          MacOS
83436    Linux-based
83437        Windows
83438          MacOS
83439    Linux-based
Name: OpSys, Length: 83439, dtype: object

## How to find the location of 'OpSys' in the schema

In [13]:
schema_df.loc['OpSys']

qid                                                       QID71
question      What is the primary operating system in which ...
force_resp                                                False
type                                                         MC
selector                                                   SAVR
Name: OpSys, dtype: object

## Breakdown of the responses on Operating Systems used

In [14]:
df['OpSys'].value_counts()

Windows                              37758
Linux-based                          21088
MacOS                                20984
Windows Subsystem for Linux (WSL)     2743
Other (please specify):                575
BSD                                    146
Name: OpSys, dtype: int64

## Breakdown by ratio

In [15]:
df['OpSys'].value_counts(normalize=True)

Windows                              0.453310
Linux-based                          0.253175
MacOS                                0.251927
Windows Subsystem for Linux (WSL)    0.032932
Other (please specify):              0.006903
BSD                                  0.001753
Name: OpSys, dtype: float64

In [16]:
df['Country'].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Liechtenstein                                               1
Dominica                                                    1
Papua New Guinea                                            1
Saint Vincent and the Grenadines                            1
Name: Country, Length: 181, dtype: int64

## Grouping Countries

In [17]:
country_group = df.groupby(['Country'])

## Looking up responders from Germany

In [18]:
country_group.get_group('Germany')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,6,"Developer, desktop or enterprise applications;...","1,000 to 4,999 employees",EUR European Euro,71500.0,Yearly,C;C++;Java;Perl;Ruby,Rust,NaN,NaN,NaN,NaN,Ruby on Rails,NaN,Qt,NumPy;TensorFlow,Git,Docker;Kubernetes,Vim,Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
21,I am a developer by profession,"Student, full-time",Germany,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Colleague,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Java;Python,Java;Python,MySQL;PostgreSQL,MySQL;PostgreSQL,AWS,NaN,Spring,Spring,NumPy;Pandas,NumPy;Pandas,Git,Git,IntelliJ;PyCharm,IntelliJ;PyCharm,Windows,Visit Stack Overflow;Google it,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,No,25-34 years old,Man,No,NaN,White or of European descent,NaN,NaN,Too long,Easy,NaN
25,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Friend or family member,26,18,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",EUR European Euro,72000.0,Yearly,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,HTML/CSS;Java;JavaScript;Kotlin;Node.js;TypeSc...,DynamoDB;PostgreSQL,PostgreSQL,AWS;Heroku,AWS;Heroku,Angular;Express;Spring,Angular;Express;Spring,NaN,NaN,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Android Studio;IntelliJ;Visual Studio Code,Android Studio;IntelliJ;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, somewhat",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,77831.0
26,"I am not primarily a developer, but I write co...",Employed full-time,Germany,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",25 - 34 years,Coding Bootcamp;Online Forum,12,12,Academic researcher;Database administrator;Sci...,100 to 499 employees,EUR European Euro,NaN,Monthly,HTML/CSS;Julia;Python;R;SQL,HTML/CSS;Julia;Python;R;SQL,PostgreSQL;SQLite,PostgreSQL,NaN,NaN,Django;jQuery,NaN,NumPy;Pandas;TensorFlow,NumPy;Pandas;TensorFlow,Docker;Git,Git,Atom;RStudio;Vim,Atom;RStudio;Vim,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,No,35-44 years old,"Non-binary, genderqueer, or gender non-conforming",Prefer not to say,Bisexual,White or of European descent,None of the above,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
36,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Online Forum;Other (please specify):,19,10,"Developer, full-stack;Developer, back-end",500 to 999 employees,EUR European Euro,56000.0,Yearly,C;C++;Java;Python,C;C++;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,IntelliJ,IntelliJ,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,60535.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83320,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,1,"Developer, mobile;Developer, full-stack",20 to 99 employees,EUR European Euro,48000.0,Yearly,C#;Dart;HTML/CSS;Java;JavaScript;Node.js;Objec...,JavaScript;Node.js;Python;R;SQL;TypeScript,MongoDB;MySQL;PostgreSQL;SQLite,MongoDB;MySQL;PostgreSQL,AWS;Google Cloud Platform,Google Cloud Platform,React.js,React.js,Flutter;React Native,React Native,Git;Yarn,Git;Yarn,Android Studio;IntelliJ;Vim;Visual Studio Code...,Android Studio;IntelliJ;Visual Studio Code,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,51887.0
83337,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",16,4,"Developer, mobile;Developer, front-end;Develop...",2 to 9 employees,EUR European Euro,25000.0,Yearly,Assembly;Bash/Shell;C;Delphi;Haskell;HTML/CSS;...,Bash/Shell;C#;HTML/CSS;JavaScript;Node.js;PHP;...,DynamoDB;MariaDB;Microsoft SQL Server;MongoDB;...,DynamoDB;MariaDB;MySQL;SQLite,AWS;DigitalOcean;Google Cloud Platform;Microso...,AWS,Angular;Angular.js;ASP.NET;ASP.NET Core ;Drupa...,Angular;Angular.js;jQuery;React.js;Symfony,.NET Framework;.NET Core / .NET 5;React Native,React Native,Docker;Git;Kubernetes;Unreal Engine;Yarn,Docker;Git,Android Studio;Atom;Eclipse;IntelliJ;NetBeans;...,PHPStorm;Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,No,NaN,Not sure,No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,27025.0
83414,"I used to be a developer by profession, but no...",Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",5,3,Other (please specify):,NaN,NaN,NaN,NaN,Bash/Shell;C#;HTML/CSS;Java;JavaScript;Matlab;...,Go;Python,Microsoft SQL Server;MySQL;Oracle,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,ASP.NET;ASP.NET Core ;jQuery,Angular;Angular.js;React.js;Spring;Vue.js,.NET Framework;.NET Core / .NET 5,NaN,NaN,NaN,Eclipse;Notepad++;RStudio;Visual Studio,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",No,35-44 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83416,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",33,22,"Developer, back-end",100 to 499 employees,EUR European Euro,65.0,Yearly,C;C#;Java,C;C#;Java,NaN,NaN,NaN,NaN,NaN,NaN,.NET Framework,.NET Framework,Git,Git,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, somewhat",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,70.0
83425,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",17,12,"Developer, full-stack;Other (please specify):;...","10,000 or more employees",EUR European Euro,120000.0,Yearly,Bash/Shell;C;Go;Java;JavaScript;Perl;SQL,Bash/Shell;Java;Rust;SQL,MySQL,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform,NaN,Angular.js;Spring;Vue.js,Spring,NaN,NaN,Docker;Git;Kubernetes;Terraform,Docker;Git;Kubernetes,IntelliJ;Neovim;Vim,IntelliJ;Neovim,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"Or, in your own words:",Appropriate in length,Easy,129718.0

## A look at the Operating System use/preference in Germany

In [19]:
filt = df['Country'] == 'Germany'
df.loc[filt]['OpSys'].value_counts()

Windows                              2388
Linux-based                          1703
MacOS                                1320
Windows Subsystem for Linux (WSL)     176
Other (please specify):                32
BSD                                     4
Name: OpSys, dtype: int64

## A look at Operating System use/preference ratio in another country

In [21]:
country_group['OpSys'].value_counts(normalize=True).loc['Canada']

OpSys
Windows                              0.420545
MacOS                                0.283577
Linux-based                          0.242686
Windows Subsystem for Linux (WSL)    0.038896
Other (please specify):              0.010638
BSD                                  0.003657
Name: OpSys, dtype: float64

## Yearly salary average in Germany

In [22]:
country_group['ConvertedCompYearly'].median().loc['Germany']

64859.0

## Aggregate median and mean of Yearly salary in United States

In [24]:
country_group['ConvertedCompYearly'].agg(['median', 'mean']).loc['United States of America']

median    125000.00000
mean      262993.89848
Name: United States of America, dtype: float64

## How many people in China worked with the programming language Java?

In [25]:
filt = df['Country'] == 'China'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Java').sum()

654

## How many people in each country worked with the language Python?

In [26]:
country_group['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

## Number of respondents in each country

In [27]:
country_respondents = df['Country'].value_counts()
country_respondents

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Liechtenstein                                               1
Dominica                                                    1
Papua New Guinea                                            1
Saint Vincent and the Grenadines                            1
Name: Country, Length: 181, dtype: int64

In [29]:
country_uses_java = country_group['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Java').sum())
country_uses_java

Country
Afghanistan                              38
Albania                                  56
Algeria                                  34
Andorra                                   8
Angola                                   16
                                       ...
Venezuela, Bolivarian Republic of...     93
Viet Nam                                295
Yemen                                    11
Zambia                                   18
Zimbabwe                                 26
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

## Adding strings (respondents and java users) together using concat

In [30]:
java_df = pd.concat([country_respondents, country_uses_java], axis='columns', sort=False)
java_df

,Country,LanguageHaveWorkedWith
United States of America,15288,11321
India,10511,7987
Germany,5625,4147
United Kingdom of Great Britain and Northern Ireland,4475,3192
Canada,3012,2252
...,...,...
Saint Kitts and Nevis,1,1
Liechtenstein,1,1
Dominica,1,1
Papua New Guinea,1,0
Saint Vincent and the Grenadines,1,0

## Renaming columns

In [41]:
java_df.rename(columns={'Country':'Respondents', 'LanguageHaveWorkedWith':'Java Users'}, inplace=True)

In [42]:
java_df

                                                    Respondents  Java Users
United States of America                                  15288       11321
India                                                     10511        7987
Germany                                                    5625        4147
United Kingdom of Great Britain and Northern Ir...         4475        3192
Canada                                                     3012        2252
...                                                         ...         ...
Saint Kitts and Nevis                                         1           1
Liechtenstein                                                 1           1
Dominica                                                      1           1
Papua New Guinea                                              1           0
Saint Vincent and the Grenadines                              1           0

[181 rows x 2 columns]

## Finding out ratio of java users among the respondents

In [45]:
java_df['PercentKnowsJava'] = (java_df['Java Users']/java_df['Respondents']) * 100
java_df

,Respondents,Java Users,PercentKnowsJava
United States of America,15288,11321,74.051544
India,10511,7987,75.987061
Germany,5625,4147,73.724444
United Kingdom of Great Britain and Northern Ireland,4475,3192,71.329609
Canada,3012,2252,74.767596
...,...,...,...
Saint Kitts and Nevis,1,1,100.000000
Liechtenstein,1,1,100.000000
Dominica,1,1,100.000000
Papua New Guinea,1,0,0.000000
Saint Vincent and the Grenadines,1,0,0.000000

## Sorting out percentages of respondents who know how to use Java

In [46]:
java_df.sort_values(by='PercentKnowsJava', ascending=False, inplace=True)

In [47]:
java_df.head(50)

,Respondents,Java Users,PercentKnowsJava
Tuvalu,1,1,100.000000
San Marino,2,2,100.000000
Burundi,5,5,100.000000
Gambia,2,2,100.000000
Guinea,2,2,100.000000
Burkina Faso,4,4,100.000000
Democratic Republic of the Congo,10,10,100.000000
Lao People's Democratic Republic,4,4,100.000000
Brunei Darussalam,1,1,100.000000
Saint Kitts and Nevis,1,1,100.000000
Togo,7,7,100.000000
Isle of Man,5,5,100.000000
Liechtenstein,1,1,100.000000
Mauritania,5,5,100.000000
Dominica,1,1,100.000000
Chad,2,2,100.000000
Guatemala,58,55,94.827586
Côte d'Ivoire,17,16,94.117647
Senegal,28,26,92.857143
Cameroon,38,35,92.105263
Namibia,12,11,91.666667
Malawi,11,10,90.909091
Swaziland,10,9,90.000000
Jamaica,20,18,90.000000
Sri Lanka,396,355,89.646465
"Venezuela, Bolivarian Republic of...",104,93,89.423077
Tunisia,150,134,89.333333
Bahrain,28,25,89.285714
Bosnia and Herzegovina,130,116,89.230769
Honduras,24,21,87.500000
Ecuador,103,90,87.378641
Uganda,63,55,87.301587
Syrian Arab Republic,51,44,86.274510
Mongolia,21,18,85.714286
Cuba,34,29,85.294118
Morocco,204,174,85.294118
Costa Rica,77,65,84.415584
Luxembourg,51,43,84.313725
Palestine,25,21,84.000000
Panama,31,26,83.870968
Dominican Republic,104,87,83.653846
The former Yugoslav Republic of Macedonia,54,45,83.333333
"Congo, Republic of the...",12,10,83.333333
Mozambique,12,10,83.333333
Nigeria,409,339,82.885086
Mexico,695,575,82.733813
Montenegro,17,14,82.352941
Kosovo,45,37,82.222222
Bangladesh,704,578,82.102273
Zambia,22,18,81.818182

## Per country stats

In [48]:
java_df.loc['India']

Respondents         10511.000000
Java Users           7987.000000
PercentKnowsJava       75.987061
Name: India, dtype: float64